<style>
    footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid var(--light-gray);
        padding: 2ch 8ch;

        .left {
            display: flex;
            align-items: center;
            gap: 4ch;

            p {
                max-width: 32ch;
                margin: 0;
            }
        }
        .right {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 4ch;

            .link-sect {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
        }
    }
</style>
<footer>
    <div class="left">
        <span>paper<strong>golf</strong></span>
        <p>a tiny game about navigating minimalist courses. inspired by paperapps&trade; golf.</p>
    </div>
    <div class="right">
        <div class="link-sect">
            <strong>open source</strong>
            <a href="https://github.com/flarom/papergolf" target="_blank">git repository</a>
        </div>
        <div class="link-sect">
            <strong>impressum</strong>
            <a href="https://gladdendesign.com/products/paper-apps-golf" target="_blank">original game</a>
            <a href="credits.html" target="_blank">credits & fonts</a>
        </div>
        <div class="link-sect">
            <strong>contact</strong>
            <a href="mailto:oi@paper.golf" target="_blank">oi@paper.golf</a>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#222"><path d="M780-120q-25 0-42.5-17.5T720-180q0-25 17.5-42.5T780-240q25 0 42.5 17.5T840-180q0 25-17.5 42.5T780-120ZM400-80q-100 0-170-23.5T160-160q0-23 33-41t87-29v70h80v-720l320 156-240 124v362q86 5 143 26.5t57 51.5q0 33-70 56.5T400-80Z"/></svg>
    </div>
</footer>